footer {
	background-color: #666;
	height: 75px;
}

 footer > p {
	color: #fff;
  	font-size: 10px;
  	padding-top: 30px;
  	right: 30px;
  	position: absolute;
}

footer > ul {	
	padding-top: 18px;
	position: relative;
}

footer > ul > li {
	color: #fff;
	position: relative;
	display: inline-block;
	padding: 10px;
}